.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom right, rgba(255, 95, 87, 0.501) 0%, rgba(255, 153, 0, 0.453) 25%, rgba(54, 209, 220, 0.415) 50%, rgba(69, 173, 168, 0.401) 75%, rgb(255, 255, 255) 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 10px auto;
  color: black;
  margin-bottom: 20px; /* Add margin to create space from the footer */
}

.innerContainer {
  width: 100%;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
}

.inputField {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.list {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  margin-bottom: 10px;
}

.button {
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: white;
  border: none;
  background: blue;
}

.button:hover {
  background-position: 100% 0;
  transition: background-position 0.5s ease;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: #6c757d;
}

@media (max-width: 1000px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
  }
}
