.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to top left, #ffcc0052, #ff669948, #cc66ff59, #66ccff40, #66ff663e);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 40px auto;
  color: black;
  display: flex;
  width: 2000px;
}

.formColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 350px;
  gap: 10px;
}
.formRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.formContainer {
  width: 100%;
  max-width: 800px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputLabel {
  margin-bottom: 15px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
}


.uploadBox {
  width: 600px;
  height: 718px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullSizeTextArea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  background-color: #ffffff;
}

.textbox{
  width: 100%;
  height: 100%;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
  background: blue;
  background-position: 0;
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
  width: 100%;
  margin-top: 20px;
}

.button:hover {
  background-position: 100% 0;
  transition: background-position 0.5s ease;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: #6c757d;
}

.warning {
  font-size: 16px;
  text-align: left;
  color: rgba(255, 0, 0, 0.468);
}

@media (max-width: 1000px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
  }
}
.customFileInput {
  position: relative;
  display: inline-block;
  width: 100%;
}

.customFileInput input[type="file"] {
  display: none;
}

.customFileInput .customFileLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  border: 2px dashed #3182ce;
  background: #eb0c0c;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.customFileInput .customFileLabel:hover {
  background: #e2e8f0;
  border-color: #2b6cb0;
}

.customFileInput .fileName {
  margin-left: 10px;
  font-size: 14px;
  color: #4a5568;
}
